* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.elements {
    height:1000px;
    width:1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    width: 25%;
    height: 25%;
    border-radius: 51%;
    background: red;
    position: absolute;
    z-index: 1;
} 

.circle--black {
    top:12.5%;
    left:12.5%;
}

.circle--blue {
    top:12.5%;
    right:12.5%;
}

.circle--green {
    bottom: 12.5%;
    left: 12.5%;
}

.circle--purple {
    bottom: 12.5%;
    right: 12.5%;
}
 .circle--black:hover {
    background-color: black; 
    z-index: 2;
    }

.circle--blue:hover {
    background-color: blue;
    z-index: 2; 
    }

.circle--green:hover {
    background-color: green; 
    z-index: 2;
    }

.circle--purple:hover {
    background-color: purple; 
    z-index: 2;
    }

.square-blue {
    height: 50%;
    width: 50%;
    background: skyblue;
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 25%;
    z-index: 2;
}
.square-blue:hover {
    z-index:5;
}

.square-yellow {
    height: 25%;
    width: 25%;
    background: yellow;
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    z-index: 2;
}